### [코드 2-31] 함수의 형태

In [119]:
# n까지의 피보나치 수열을 출력하는 함수
def fib(n):
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# 함수의 실행은 괄호를 사용한다
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

### [코드 2-32] 함수의 매개변수 선언

In [8]:
def ask_ok(prompt, retries=4, reminder='다시 입력해주세요!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
        
ask_ok('계속 하실건가요?')

계속 하실건가요?
다시 입력해주세요!
계속 하실건가요?ㅜ
다시 입력해주세요!
계속 하실건가요?n

False

### [코드 2-33] 매개변수의 기본값이 계속 바뀌는 경우

In [9]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

### [코드2-34] 조건문을 사용하여 매개변수의 기본값 변경을 막는 경우

In [10]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

### [코드 2-35] 키워드로 함수를 호출하는 방법

In [11]:
def keyword(a, b='this is b', c='vitamin c'):
    print('a:', a)
    print('b:', b)
    print('c:', c)

keyword('A', b='Rain')
keyword('A', c='C', b='Rain')

a: A
b: Rain
c: vitamin c
a: A
b: Rain
c: C

### [코드 2-36] 튜플과 딕셔너리로 매개변수 받는 방법

In [13]:
def fruits(title, *tupleArg, **keywordDic):
    print('title:', title)
    for arg in tupleArg:
        print('tupleArg:',arg)
    for key in keywordDic:
        print('keywordDic', key, ':', keywordDic[key])

fruits('myFavorite', 'mango', 'apple', 'banana', name='jay', country='Korea')

title: myFavorite
tupleArg: mango
tupleArg: apple
tupleArg: banana
keywordDic name : jay
keywordDic country : Korea

### [코드 2-37] 튜플의 기본

In [1]:
t = 12345, 54321, 'hello!' # t라는 튜플 변수가 생성된다
t[0] # 인덱싱

12345

In [2]:
t

(12345, 54321, 'hello!')

In [3]:
# 튜플은 다른 자료형에 포함될 수 있다
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [4]:
# 튜플은 불변이다. 값을 변경할 수 없다
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [5]:
# 하지만 값을 변경할 수 있는 오브젝트를 포함할 수는 있다
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [6]:
x, y, z = t # 튜플 언 패킹, 순서대로 대입된다. 갯수가 
x, y = t # 수가 맞지 않으면 언 패킹 에러가 발생한다

ValueError: too many values to unpack (expected 2)

### [코드 2-38] 집합 만들기

In [7]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # 중복된 apple, orange는 하나만 들어간다

{'pear', 'orange', 'banana', 'apple'}

In [8]:
'orange' in basket                 # 집합에 포함되는지 빠르게 검사가 가능하다

True

In [9]:
'crabgrass' in basket

False

### [코드 2-39] 합집합, 교집합, 차집합, 대칭 차집합

In [10]:
# 2단어 중에 하나뿐인 문자를 찾는 방법
a = set('abracadabra')
b = set('alacazam')
a                                  # a에 하나뿐인 문자들

{'a', 'b', 'c', 'd', 'r'}

In [11]:
a - b                              # a에는 있고 b에는 없는 문자들

{'b', 'd', 'r'}

In [12]:
a | b                              # a 또는 b에 있는 문자들

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [13]:
a & b                              # a와 b 모두에 있는 문자들

{'a', 'c'}

In [14]:
a ^ b                              # a와 b 한쪽에만 있는 문자들

{'b', 'd', 'l', 'm', 'r', 'z'}

### [코드 2-40] 딕셔너리의 기본

In [16]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [17]:
tel['jack']

4098

In [18]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [19]:
list(tel)

['jack', 'guido', 'irv']

In [20]:
sorted(tel)

['guido', 'irv', 'jack']

In [21]:
'guido' in tel

True

In [22]:
'jack' not in tel

False

### [코드 2-41] 딕셔너리를 사용한 반복문

In [23]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

### [코드 2-42] 시퀀스를 활용한 반복문

In [24]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

### [코드 2-43] 시퀀스를 거꾸로 사용하기

In [25]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

### [코드 2-44] 정렬된 순서로 시퀀스 사용하기

In [28]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

### [코드 2-45] 중복 요소를 제거하고 싶을 때 사용하는 집합

In [29]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

### [코드 2-46] 모듈 불러와서 사용하기

In [31]:
import calculator
calculator.sum(10, 5)

15

### [코드 2-47] 모듈에 있는 이름을 전역변수처럼 사용하기

In [33]:
from calculator import sum
sum(10, 5)

15

### [코드 2-48] 모두 임포트하기

In [35]:
from calculator import *
sum(10, 5)

15

### [코드 2-49] as로 이름을 바꿔서 임포트하기

In [36]:
import calculator as cal
cal.sum(10, 5)

15

### [코드 2-50] 모듈의 심볼의 이름 바꾸기

In [37]:
from calculator import sum as total
total(10, 5)

15

### [코드 2-51] 소수점 이하 세자리 반올림

In [40]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

### [코드 2-52] 문자열 폭 고정

In [1]:
table = {'Sjoerd': 4127, 'Jack': 40943483, 'Dcab': 76248}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

for name, phone in table.items():
    print(f'{name} ==> {phone}')

Sjoerd     ==>       4127
Jack       ==>   40943483
Dcab       ==>      76248
Sjoerd ==> 4127
Jack ==> 40943483
Dcab ==> 76248

### [코드 2-53] 포맷팅

In [43]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

### [코드 2-54] 문자열 순서 지정하기

In [44]:
print('{0} and {1}'.format('spam', 'eggs'))

spam and eggs

In [45]:
print('{1} and {0}'.format('spam', 'eggs'))

eggs and spam

### [코드 2-55] 문자열 안에 인자로 전달하기

In [46]:
print('This {food} is {adjective}.'.format(
      food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

### [코드 2-56] 실행시간에 발생하는 에러

In [48]:
while True print('Hello world')

SyntaxError: invalid syntax (<ipython-input-48-2b688bc740d7>, line 1)

### [코드 2-57] 예외 상황

In [49]:
4 + spam*3

NameError: name 'spam' is not defined

In [50]:
'2' + 2

TypeError: must be str, not int

### [코드 2-58] 예외 처리

In [51]:
while True:
    try:
        x = int(input("숫자를 입력하세요: "))
        break
    except ValueError:
        print("숫자가 아닙니다. 다시 입력하세요.")

숫자를 입력하세요: ㅁ
숫자가 아닙니다. 다시 입력하세요.
숫자를 입력하세요: 1

### [코드 2-59] pass문을 사용하여 에러 무시하기

In [54]:
try:
    x = '2' + 2
except (RuntimeError, TypeError, NameError):
    pass

### [코드 2-60] excpet 블록을 여러 개 활용하여 에러 처리하기

In [55]:
import sys

try:
    f = open('myfile.txt')
    s = f.readline()
    i = int(s.strip())
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:", sys.exc_info()[0])
    raise

OS error: [Errno 2] No such file or directory: 'myfile.txt'

### [코드 2-61] raise를 사용하여 강제로 예외를 발생시키기

In [61]:
try:
    x = int(input("숫자를 입력하세요: "))
    raise NameError(x)
except ValueError:
    print("숫자가 아닙니다.")
except NameError as inst:
    num = inst
    print(num, "를 입력하셨습니다.")

숫자를 입력하세요: ㅁ
숫자가 아닙니다.

### [코드 2-62] else 블록을 활용하는 방법

In [62]:
try:
    x = int(input("숫자를 입력하세요: "))
except ValueError:
    print("숫자가 아닙니다.")
else:
    print(x, "를 입력하셨습니다.")

숫자를 입력하세요: 3
3 를 입력하셨습니다.

### [코드 2-63] 반드시 수행하는 코드를 만드는 finally 블록

In [63]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("division by zero!")
    else:
        print("result is", result)
    finally:
        print("executing finally clause")

In [65]:
divide(2, 1) # else 블럭과 finally 블럭이 실행

result is 2.0
executing finally clause

In [66]:
divide(2, 0) # except 블럭과 finally 블럭이 실행

division by zero!
executing finally clause

In [67]:
divide("2", "1") # finally 블럭이 실행되고 처리되지 않은 예외 발생

executing finally clause

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### [코드 2-64] finally 블록은 마지막에 반드시 실행

In [68]:
def bool_return():
    try:
        return True
    finally:
        return False

bool_return()

False

### [코드 2-65] with문의 활용

In [71]:
with open("calculator.py") as f:
    for line in f:
        print(line, end="")

def sum(a, b):
    return a + b

### [코드 2-66] 처음 만드는 클래스

In [85]:
class MyClass:
    """처음 만든 간단한 클래스"""
    i = 12345

    def __init__(self, name):
      self.name = name

    def f(self):
        return 'hello world'

    def get_name(self):
        return self.name

x = MyClass('x')
x.f()

'hello world'

### [코드 2-67] 클래스의 멤버에 접근하기

In [73]:
MyClass.i

12345

### [코드 2-68] 인스턴스 생성 없이 멤버 함수 접근하기

In [76]:
MyClass.f('some')

'hello world'

### [코드 2-69] 독스트링 확인과 수정

In [80]:
MyClass.__doc__ = "독스트링 수정"
MyClass.__doc__

'독스트링 수정'

### [코드 2-70] \_\_init\_\_ 초기화 함수 동작 확인

In [86]:
duck = MyClass('오리')
duck.get_name()

'오리'

### [코드 2-71] 클래스 객체와 인스턴스 객체

In [94]:
class Dog:
    kind = '강아지'         # 클래스 객체의 변수는 모든 인스턴스가 공유한다.

    def __init__(self, name):
        self.name = name    # 인스턴스 변수는 각 인스턴스 객체 마다 다른 값을 갖는다.

d = Dog('인절미')
e = Dog('복실이')
d.kind                  # 모든 인스턴스가 같은 값을 공유한다.

'강아지'

In [95]:
e.kind                  # shared by all dogs

'강아지'

In [96]:
d.kind

'강아지'

In [97]:
d.name                  # 인절미

'인절미'

In [98]:
e.name                  # 복실이

'복실이'

### [코드 2-72] 클래스 상속과 부모 클래스 호출

In [114]:
class Poodle(Dog):
    kind = '푸들'

    def __init__(self, name):
        super().__init__(name)
    
    def get_kind(self):
        return super().kind + ':' + self.kind

p = Poodle('똥강아지')
p.kind                  # 모든 인스턴스가 같은 값을 공유한다.

'푸들'

In [106]:
p.name                  # 똥강아지

'똥강아지'

In [107]:
p.get_kind()

'강아지:푸들'

### [코드 2-73] 인스턴스 확인과 상속 여부 확인하기

In [118]:
a = '예' if isinstance(p, Poodle) else '아니요'
print('p는 Poodle을 인스턴스 인가요?', a)

b = '예' if issubclass(Poodle, Dog) else '아니요'
print('Poodle은 Dog을 상속받은 클래스 인가요?', b)

p는 Poodle을 인스턴스 인가요? 예
Poodle은 Dog을 상속받은 클래스 인가요? 예

### [코드 2-74] 데이터 항목의 묶음으로 사용되는 클래스

In [117]:
class Employee:
    pass

john = Employee()  # 빈 인스턴스를 생성

# 어트리뷰트를 생성하면서 데이터를 추가해서 전달이 가능하다
john.name = 'John Doe'
john.dept = 'computer lab'
john.salary = 1000

def print_info(employee):
  print('Name:', employee.name)
  print('Department:', employee.dept)
  print('Salary:', employee.salary)

print_info(john)

Name: John Doe
Department: computer lab
Salary: 1000

그림 2-2-75